#content{
  width: 1080px;
  height: 600px;
  margin: 20px auto;
  /*border: 1px solid gray;
  border-radius: 10px;*/
  position: relative;
  font-family: helvetica-neue, arial, sans-serif;
}

#animals{
  width: 1080px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;

}

.drag, .drop{
  border-radius: 10px;
  border: 3px solid darkgray;
}

.drag.ui-draggable-dragging{
  box-shadow: 0 0 2em rgba(0,0,0,.8);
  border-color: pink;
}

.drop.hovered{
  background: #aaa;
}

.drop{
  height: 120px;
  width: 200px;
  font-size: 1.2em;
  text-align: center;
  padding-top: 80px;

}

#success{
  width: 0;
  height: 0;
  position: absolute;
  bottom: 300px;
  left: 240;
  z-index: 100;
  /*margin: 30px auto 0 auto;*/
  border: 3px solid darkgray;
  border-radius: 20px;
  background-color: #ace;
  box-shadow: 5px 5px 2em rgba(0, 0, 0, 0.5);
  padding-top: 20px;
  text-align: center;
}

#successButton{
  width: 100px;
  margin: 0 auto;
  background-color: gray;
  border: 1px solid darkgray;
  /*margin: 10px 0 0 0;*/
}

a{
  text-decoration: none;
  color: black;
}

#successButton:hover{
  background-color: #d95;
}




#boxes{
  width: 1080px;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;

}

#draggableFox{
  width: 200px;
  height: 200px;
  background-image: url("fennec.jpg") ;
  background-size: 200px 200px;
  position: absolute;
  top: 0;
  left: 0;
}

#draggableCamel{
  width: 200px;
  height: 200px;
  background-image: url("camel.jpg") ;
  background-size: 200px 200px;
  position: absolute;
  top: 0;
  left: 220px;
}

#draggableLizard{
  width: 200px;
  height: 200px;
  background-image: url("lizard.jpg") ;
  background-size: 200px 200px;
  position: absolute;
  top: 0;
  left: 440px;
}

#draggableMeerkat{
  width: 200px;
  height: 200px;
  background-image: url("meerkat.jpg") ;
  background-size: 200px 200px;
  position: absolute;
  top: 0;
  left: 660px;
}

#draggableBeetle{
  width: 200px;
  height: 200px;
  background-image: url("beetle.jpg") ;
  background-size: 200px 200px;
  position: absolute;
  top: 0;
  left: 880px;
}

#droppableFox{
  position: absolute;
  bottom: 0px;
  left: 880px;

}

#droppableLizard{
  position: absolute;
  bottom: 0px;
  left: 660px;

}

#droppableCamel{
  position: absolute;
  bottom: 0px;
  left: 440px;
}

  #droppableBeetle{
    position: absolute;
    bottom: 0px;
    left: 220px;

  }

  #droppableMeerkat{
    position: absolute;
    bottom: 0px;
    left: 0px;

}
